<nav id="sidebar">
    <div id="fermer-telephone" class="bouton">
        <p>x</p>
        <div>Fermer</div>
    </div>

    <div class="sidebar-header">
        <a href="{{ path('main_accueil') }}">
            <img id="logoEcoclic" src="{{ asset('img/logoEcoclic.png') }}" style="width: -webkit-fill-available;">
            <img id="faviconEcoclic" src="{{ asset('img/favicon.png') }}" style="display:none; width: 50px; margin: 0 auto;">
        </a>
    </div>

    <ul class="list-unstyled components">
        <li>
            <div id="scrollNav" style="overflow-x: hidden; overflow-y: auto;">
                <a id="accueil" href="{{ path('main_accueil') }}" tabindex="2">
                    <img class="iconMenu" src="{{ asset('img/Icongraphcool.svg') }}">
                    <span>Tableau de bord</span>
                </a>

                <a href="#" tabindex="1" id="categorie">
                    <img class="iconMenu" src="{{ asset('img/bubble.svg') }}">
                    <span>
                        Catégories
                        <img src="{{ asset('img/Flechetype2.svg') }}" alt="Catégories" style="margin-left: 20px">
                    </span>
                </a>

                <div id="sousMenu" style="display: none;"></div>
                
                <a hidden id="reco2" href="{{ path('recommandation_browse') }}" tabindex="2">
                    <img class="iconMenu" src="{{ asset('img/survey.png') }}">
                    <span>Plan d’action</span>
                </a>

                <a id="stats" href="{{ path('statistics_main') }}" tabindex="2">
                    <img class="iconMenu" src="{{ asset('img/statistiques.svg') }}">
                    <span>Statistiques</span>
                </a>

                {% if is_granted('ROLE_COLLECTIVITE') %}
                    <a id="gestUser" href="{{ path('admin_user_browse') }}" tabindex="2" >
                        <img class="iconMenu" src="{{ asset('img/Icon feather-users.svg') }}">
                        <span>Gestion des utilisateurs</span>
                    </a>
                {% endif %}

                {# <a href="historique.php" tabindex="2" style="border-top: #00857A 1px solid;">
                    <i class="fas fa-clock hidden" id="footer0" style="color: #08453F; font-size: 20px;"></i>
                    <span class="Menufooter">Historique</span>
                </a>

                <a href="accessibilite.php" tabindex="2">
                    <i class="fas fa-info-circle hidden" id="footer1" style="color: #08453F; font-size: 20px;"></i>
                    <span class="Menufooter">Accessibilité et aides</span>
                </a>
                
                <a href="mentions-legales.php" tabindex="2">
                    <i class="fas fa-balance-scale hidden" id="footer2" style="color: #08453F; font-size: 20px;"></i>
                    <span class="Menufooter">Mentions légales</span>
                </a> #}
            
                <a href="#" tabindex="1" id="retrecir" class="bouton" style="padding: 5px;">
                    <h3 id="retrecirBoutonG">
                        <img src="{{ asset('img/Icon awesome-chevron-circle-left.svg') }}" alt="Tableau de bord" style="margin-left: 30px;">
                        Réduire le menu
                    </h3>
                    <i style='cursor: pointer; font-size: 19px;' id="retrecirBoutonP" class="fa-solid fa-bars"></i>
                </a>

            </div>

        </li>
    </ul>
</nav>

<script>

    $(document).ready(function () {

        $userProgression = [];
        $.ajax({
            url: '/api/progression' ,
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function(data) {
                $userProgression = data;
            },
            error: function(jqXhr, textStatus, errorThrown) {
                console.error('Une erreur est survenue');
            }
        });

        $.ajax({
            url: '/api/category/infos',
            type: 'get',
            async: false,
            dataType: 'json',
            success: function(categoryList) {
                $Nbquestion = 0;
                $Nbrep = 0;
                for (let a = 0; a < categoryList.length; a++) {
                    $Nbquestion += categoryList[a].nb_question;
                    if ($userProgression[a] != undefined) {
                        $Nbrep += $userProgression[a].nb_repondu;
                    }
                    else {
                        $Nbrep += 0;
                    }
                }

                if ($Nbrep < $Nbquestion) {
                    document.getElementById('reco2').hidden = true;
                } else {
                    document.getElementById('reco2').hidden = false;
                }

            },
            error: function(jqXhr, textStatus, errorThrown) {
                console.error('Une erreur est survenue');
            }
        });

        $.ajax({
            url: '/api/category/all',
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function(data) {
                for (let i = 0; i < data['data'].length; i++) {

                    let a = document.createElement('a');
                    a.setAttribute("href", "/categories/" + data['data'][i].id);
                    a.setAttribute("tabindex", "2");
                    document.getElementById('sousMenu').append(a);

                    let p = document.createElement('p');
                    p.setAttribute("class", "space");
                    p.textContent = data['data'][i].name;
                    a.append(p);

                }
            },
            error: function(jqXhr, textStatus, errorThrown) {
                console.error('Une erreur est survenue');
            }
        });

        function Timeout() {
            setTimeout(sidebarScroll, 300);
        }

        $(window).on('resize', sidebarScroll);

        function sidebarScroll() {
            if (document.getElementById("sidebar").className == 'active' == true) {
                var newHeight = $(window).height() - 175 + 90;
                $('#scrollNav').height(newHeight);
            } else {
                var newHeight = $(window).height() - 175;
                $('#scrollNav').height(newHeight);
            }
        }

        $("#retrecir").on('click', Timeout);
        $("#categorie").on('click', Timeout);
        sidebarScroll();
        
        $('.bouton').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#footer0').toggleClass('hidden');
            $('#footer1').toggleClass('hidden');
            $('#footer2').toggleClass('hidden');
            $('#sousMenu').toggleClass('hidden');
        });

        $('#categorie').on('click', function () {

            if ($("#sousMenu")[0].style.display == "block") {
                $('#sousMenu').css("display", "none");
                updatePreferences();
            } else {
                $('#sousMenu').css("display", "block");
                updatePreferences();
            }

            if (document.getElementById("sidebar").className == 'active' && window.innerWidth > 970) {
                $('#sidebar').toggleClass('active');
                $('#sousMenu').toggleClass('hidden');
                $('#sousMenu').css("display", "block");
                $i = 1;
                $('#footer0').toggleClass('hidden');
                $('#footer1').toggleClass('hidden');
                $('#footer2').toggleClass('hidden');
            }

            if (window.innerWidth < 970) {
                $('#sousMenu').toggleClass('hidden');
            }
        });
        
        getPreferences();
        menuActive();
    });

    function updatePreferences() {
        $.ajax({
            url: '/api/user/preference',
            type: 'PATCH',
            async: true,
            data: {
                code: 'MENU_VISIBILITY',
                display: $('#sousMenu').css("display")
            },
            dataType: 'json',
            success: function(reponse) {
                
            },
            error: function(resultat, statut, erreur) {
                console.error(resultat + ' --- ' + statut + ' --- ' + erreur);
            }
        });
    }

    function getPreferences() {
        $.ajax({
            url: '/api/user/preference?code=MENU_VISIBILITY',
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function(reponse) {
                if (reponse == null) {
                    $('#sousMenu').css("display", 'none');
                } else {
                    $('#sousMenu').css("display", reponse.json);
                }
            },
            error: function(resultat, statut, erreur) {
                console.error(resultat + ' --- ' + statut + ' --- ' + erreur);
            }
        });
    }

    function menuActive() {
        for (let g = 0; g < $("#scrollNav")[0].children.length; g++) {
            if ($("#scrollNav")[0].children[g].href == window.location.href.split("#")[0]) {
                $("#scrollNav")[0].children[g].classList = "menuActive";
            }
        }

        for (let t = 0; t < $("#sousMenu")[0].children.length; t++) {
            if ($("#sousMenu")[0].children[t].href == window.location.href.split("#")[0]) {
                $("#sousMenu")[0].style.display = "block";
                $("#sousMenu")[0].children[t].classList = "menuActive";
            }
        }
    }
</script>
