{% extends "app_base.html.twig" %}

{% block title %}Détail Recommandation{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="info" style="height: 130px; margin-top: 30px;display: flex;align-items: center;">
            <button style="margin: 20px; border: none; background: none; outline: none;" onclick="history.back();">
                <img src="/img/Flechetype.svg" style="filter: brightness(0) invert(1);">
            </button>
            <div>
                <h5 id="CategorieReco">Recommandation - {{ recommandation.question.category.name }}</h5>
                <h3 id="TitreReco">{{ recommandation.title }}</h3>
            </div> 
        </div>
    </div>
    <div style="margin: 18px 15px 0px 15px; position: absolute; right: 0px;">
        <button onclick="ValiderModif()" id="buttonValider" class="btn btn-blueAdico rounded-pill ml-2 mr-2" style="display: none;">Valider</button>
    </div>
    <div class="page-content" style="margin: 75px 15px 15px 15px;border-top: 1px solid #08433D; display: flex;">
        <div class="col-9" style="padding: 0px; display: flex;">
            <div class="cadreReco2" style="height: 15vh">
                <div class="num3" style="height: 15vh"></div>
                <div class="contenuReco" style="height: 15vh; display: flex;align-items: center; padding-left: 25px;">
                    <div class="textReco2">
                        <p id="textReco" style="margin-bottom: 0rem;">{{ recommandation.body }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" style="padding: 0px;margin-left: 10px;">
            <div class="contenuReco" style="display: flex; height: 15vh;">
                <div class="col-7" style="padding: 0px; margin: 0px 15px;">
                    <div id="NiveauLabel" style="margin-bottom: 10px; background-color: {{ recommandation.level.color }}">
                        <p id="NiveauReco" style="margin:0px;">{{ recommandation.level.label }}</p>
                    </div>
                    <div id="StatutLabel">
                        <p id="StatutReco" style="margin:0px;">{{ recommandation.status.label }}</p>
                        <select id="StatutRecoSelect" style="display: none;" class="form-control"></select>
                    </div>
                </div>
                <div class="BoutonModifier">
                    <button style="border: none; background: none; outline: none;" onclick="Modify()">
                        <img src="/img/Modifier.svg" style="height: 30px; width: 30px;">
                    </button>
                </div>
            </div>
        </div>
    </div>

<script>
// $.ajax({
//     url: './AjaxLoader/GetRecommandation.php?recommandationId='+ "<?php echo $_GET['recommandationId'] ?>",
//     type: 'get',
//     async: false,
//     dataType: 'json',
//     success: function(data) {
//         $recommandation = data.data[0];
//         $("#CategorieReco").append($recommandation.Categorie);
//         $("#TitreReco").append($recommandation.Titre);
//         $("#textReco").text($recommandation.Text);
//         $("#NiveauReco").text($recommandation.NiveauLabel);
//         $("#NiveauLabel").css('background-color', $recommandation.NiveauCouleur);
//         $("#StatutReco").text($recommandation.StatutLabel);
//     }
// });

function remplirListeStatut(){
    $.ajax({
        url: './AjaxLoader/GetRecommandationStatut.php',
        type: 'get',
        async: false,
        dataType: 'json',
        success: function(data) {
            let statuts = data.data;
            for (let i = 0; i < data.data.length; i++) {
                $("#StatutRecoSelect").append('<option value="'+ statuts[i].Id +'">' + statuts[i].Label + '</option>');
            }
        }
    });
}

function changeStatut(Id) {
    $.ajax({
        url: './AjaxLoader/UpdateRecomandationStatut.php?Id=' + Id + '&statutId=' + $("#StatutRecoSelect").val() + '&CollectiviteId=<?php echo SessionHelper::GetCurrentUser()->CollectiviteId; ?>',
        type: 'post',
        async: true,
        dataType: "html",
        success: function(data) {
            location.reload();
        }
    });
}

function Modify() {
    document.getElementById("StatutReco").style.display = "none";
    document.getElementById("StatutRecoSelect").style.display = "block";
    document.getElementById("buttonValider").style.display = "block";
    for (let i = 0; i < document.getElementsByClassName("BoutonModifier").length; i++) {
        document.getElementsByClassName("BoutonModifier")[i].style.display = "none";
    }


    remplirListeStatut();
    document.getElementById("StatutRecoSelect").value = $recommandation.StatutId
}

function ValiderModif(){
    changeStatut('<?php echo $_GET['recommandationId'] ?>')

    document.getElementById("StatutReco").style.display = "block";
    document.getElementById("StatutRecoSelect").style.display = "none";
    document.getElementById("buttonValider").style.display = "none";
    for (let i = 0; i < document.getElementsByClassName("BoutonModifier").length; i++) {
        document.getElementsByClassName("BoutonModifier")[i].style.display = "block";
    }
}
</script>
{% endblock %}